/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body
{
  background-color: #2b2b2b;
}

.code{
  display: block;
  width: 100vw;
}


.container{
  padding-bottom: 12em;
}
.terminal {
  
  font-family: courier,fixed,swiss,monospace,sans-serif;
  font-size: 18px;
  color: #bbbbbb;
  background: #000000;
  border-collapse: collapse;
  padding: 2em;
  width: 100vW;
  
}

.head{
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  color: azure;
  font-size: 2em;
}

.row1{
  color: white;
}

.row2{
  color: rgb(161, 255, 211);
}

.row3{
  color: white;
  padding-top: 1em;
  height: auto;
  width: 100vw;
}



.last{
color: rgb(255, 255, 255);

}

.last h6{
  text-align: center;
}

@media (max-width:700px) 

 {

  .container{
    height: 300em;
  }

  .code{
    display: block;
  }
  
  .terminal {
    
    font-family: courier,fixed,swiss,monospace,sans-serif;
    font-size: 1rem;
    color: #bbbbbb;
    background: #000000;
    border-collapse: collapse;
    padding: 2em;
    width: 100vw;
    
  }

  


}